___

<a href='https://www.instagram.com/lanlearning/'> <img src='../pyimages/logosmall.png' width="100" height="100"/></a>
___
<center>Copyright LanLearning 2020</center>

# Welcome back! Let's review python processes!

This review notebook is designed to help you refresh and practice the new skills you have learned in **python processes** during your time at Data Science InspireCamp. 

The topics on the agenda for Week One: 
- Part 1: Basic Data Types
- Part 2: Advanced Data Types
- Part 3: Functions
- **Part 4: Python Processes**
- Part 5: Numpy

Let's jump right into the material covered in Part 4: **python processes**!

### Operators: 

What are the **6 different simple operators** that you have learned so far? Type your answer below!

```==```,```>```,```<```,```>=```,```<=```,```!=```

Use each of the **6** simple operators to compare two integer values/expressions. You can keep it simple by only using one number on each side, or you can alternatively come up with a multinumber expression on each side. Make sure to check that it correctly returns the expected boolean expression (true/false). 

Examples: 

One number: 2!=3 (returns ```True```)

Multiple numbers: 19-7==10+3 (returns ```False```)

In [1]:
1==2

False

In [2]:
1>2

False

In [4]:
1<2

True

In [5]:
12/3>=20/5

True

In [6]:
(14-2)/4<=36/3

True

In [7]:
1!=2

True

What are the **3 different simple operators** that you have learned so far? Type your answer below!

```and```,```or```,```not```

Write **2 ```and``` statements, 2 ```or``` statements, and 2** ```not``` statements with one evaluating to ```True``` and the other to ```False```.

In [8]:
2==2 and 1==1

True

In [9]:
2!=2 and 1==1

False

In [10]:
2!=2 or 1==1

True

In [11]:
2!=2 or 1!=1

False

In [12]:
not 1==4

True

In [13]:
not 4==4

False

What are the **2 different membership operators** that you have learned so far? Type your answer below!

```in```,```not in```

Write **2 ```in```statements and 2 ```not in``` statements** with one evaulating to ```True``` and the other to ```False```. Make **2 of your statements with lists** and **2 of them with strings**.

In [14]:
'app' in 'apple'

True

In [15]:
4 in [1,2,3]

False

In [16]:
'win' not in 'lose'

True

In [17]:
3 not in [1,2,3]

False

### Conditionals:

Let's jump into writing if statements!

**Here's the scenario:** 

Let's say that you got a new job as a dog walker! However, the dog only wants to walk when the weather is nice out. Create a variable and an if statement that prints "The weather is good: walk the dog!" if it is "sunny" out.

In [2]:
walk='sunny'
if 'sunny'==walk:
    print ('The weather is good: walk the dog!')

Walk the dog!

It turns out that the dog will always walk on weekends, regardless of the weather. Update your conditional statement to include an```elif``` statement that prints "It is a weekend: walk the dog!" if it is a "weekend". Also make sure to write an ```else``` statement that prints "Do not walk the dog!" if none of the previous conditions are satisfied.

In [3]:
walk='weekend'
if 'sunny'==walk:
    print ('The weather is good: walk the dog!')
elif 'weekend'==walk:
    print ('It is a weekend: walk the dog!' )
else:
    print ('Do not walk the dog!')

It is a weekend: walk the dog!

Now let's use conditional statements within a function!

**Here's a new scenario:**

You've recently started working as a camp counselor at an art camp! You are in charge of scheduling all of the students. If an attendee is 10 years old or younger, they are put in a painting class. If an attendee is 11-15 years old, they are put in a drawing class. Lastly, if the attendee is 16 or older, they are put in a ceramics class. Write the function **put_in_class** that organizes each camp attendee into their proper class based on their age. Make sure to include a call to your function to check if it runs properly!

In [4]:
def put_in_class(age):
    if age<11:
        return 'Painting'
    elif age>15:
        return 'Ceramics'
    else:
        return 'Drawing'

In [9]:
put_in_class(16)

'Ceramics'

### For Loops:

We'll start off by writing a simple for loop. Create a new array of strings that contains **5** of your favorite foods! Then, using a for loop, iterate through your list and print all of the elements.

In [10]:
favorite_foods=['kiwi','brownies','falafel','pho','banh mi']

for food in favorite_foods:
    print (food)

kiwi
brownies
falafel
pho
banh mi

Now let's write a for loop with conditional statements! Create an array of integers ranging from 1-5 (inclusive). If the number is odd, add ```1``` to the number, and if the number is even, add ```2``` to the number.

In [3]:
nums=[1,2,3,4,5]
for number in nums:
    if number%2==1:
        number+=1
        print (number)
    else:
        number+=2
        print (number)

2
4
4
6
6

### While Loops:

Using a while loop, print all the odd numbers from 1-10 (inclusive).

In [1]:
counter = 1
while counter<11:
    print (counter)
    counter+=2

1
3
5
7
9

In the problem above, what would happen if we failed to update the counter variable?

The loop would run on forever and be stuck in an endless cycle because there is no iteration.

Using a while loop, count the number of instances of **"cat"** in the array of strings below.

In [4]:
animals=['dog','cat','hamster','cat','guinea pig','bird','iguana','cat']
counter = 0
numCat = 0
while counter<len(animals):
    if animals[counter]=='cat':
        numCat+=1
    counter+=1
print (numCat)

3

### Optional Challenge Problems:

(1) Using a loop, write a function that returns the number of integers of a given number. Make sure to include a call to your function to check if it runs properly!

In [22]:
def sum_integers(num):
    numInts = 1
    while (num>9):
        numInts+=1
        num=num/10;
    return (numInts)

In [23]:
sum_integers(202)

3

(2) Using a loop, write a function that counts the number of **4s** in a given number. Make sure to include a call to your function to check if it runs properly!

In [53]:
def count_4s (num):
    num4s = 0;
    while (num>9):
        if num%10==4:
            num4s+=1
        num=(int)(num/10)
    if num==4:
        num4s+=1
    return (num4s)

In [59]:
count_4s(24344)

3

(3) Using a loop, count the number of times that an element in the following list has both an **odd** index and has a value that is **divisible by 3**.

Example of output: 

nums=[0,1,2,3]

expected output: 1 (3 is at an odd index **and** it is also divisible by 3)

In [66]:
nums=[2,5,6,12,1,15,10]

counter = 0
for number in nums:
    if nums.index(number)%2==1 and number%3==0:
        counter+=1
print (counter)

2

# Congratulations, you've reached the end!

Good job with completing today's assignment! You're on your way to becoming an amazing data scientist :)

Thanks for sticking with it and keeping up with the cirriculum. As always, feel free to email lanlearningservice@gmail.com with any questions/concerns! :)

### About this notebook: 
Developed by: <br>
**Madeleine Larson**  


#### Your feedback and learning are important to us. Please leave us feedback on our work! 

Feedback link: https://forms.gle/XbC6dxXbqnP9JihV6